.brand-title {
  font-family: "Faster One", cursive;
  font-size: 50px;
  padding: 50px 50px 50px 50px;
}

.nav-width {
  height: 200px;
  background-color: #99001c;
}

.nav-align {
  height: 200px;
  background-color: #99001c;
}

.titleDivStyle {
  padding-top: 50px;
}

@media screen and (max-width: 763px) {
    .titleDivStyle {
      padding-top: 40px;
      padding-left: 50px;
    }
  }
