.movement :hover {
  background-color: #ddd;
  /* color: black; */
  transform: rotateY(-2deg) rotateX(-2deg) scale(0.99);
  transition: transform 0.55s ease-out;
}

.text-color-main {
  color: #99001C;
}

.frameStyle{
  width: 50%;
  height: 300px;
}

.frameStyle2{
  width: 100%;
  height: 300px;
}

.storyTitle{
    font-family: 'Faster One', cursive;
    color: #99001C;
}

@media screen and (max-width: 600px) {
  .titleDivStyle {
    padding-top: 40px;
    padding-left: 50px;
  }
  .frameStyle2 {
    width: 200%;
  height: 300px;
  }
}