.brand-title{
    font-family: 'Faster One', cursive;
    font-size: 50px;
    padding: 50px 50px 50px 50px ;
}

.nav-width{
    height:200px;
   
}

.nav-align{
    height:200px;  
    background-color: #99001C;
}

